-- MySQL dump 10.13  Distrib 9.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: gym_management
-- ------------------------------------------------------
-- Server version	9.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accessory`
--

DROP TABLE IF EXISTS `accessory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accessory` (
  `AccessoryID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) DEFAULT NULL,
  `Price` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`AccessoryID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accessory`
--

LOCK TABLES `accessory` WRITE;
/*!40000 ALTER TABLE `accessory` DISABLE KEYS */;
/*!40000 ALTER TABLE `accessory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cards`
--

DROP TABLE IF EXISTS `cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cards` (
  `CardsID` int NOT NULL AUTO_INCREMENT,
  `Type` varchar(50) DEFAULT NULL,
  `Price` decimal(10,2) DEFAULT NULL,
  `Duration` int DEFAULT NULL,
  PRIMARY KEY (`CardsID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cards`
--

LOCK TABLES `cards` WRITE;
/*!40000 ALTER TABLE `cards` DISABLE KEYS */;
/*!40000 ALTER TABLE `cards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coach`
--

DROP TABLE IF EXISTS `coach`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coach` (
  `CoachID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) DEFAULT NULL,
  `Specialization` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`CoachID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coach`
--

LOCK TABLES `coach` WRITE;
/*!40000 ALTER TABLE `coach` DISABLE KEYS */;
/*!40000 ALTER TABLE `coach` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facility`
--

DROP TABLE IF EXISTS `facility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facility` (
  `FacilityID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) DEFAULT NULL,
  `Location` varchar(100) DEFAULT NULL,
  `availibleamount` int DEFAULT NULL,
  PRIMARY KEY (`FacilityID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facility`
--

LOCK TABLES `facility` WRITE;
/*!40000 ALTER TABLE `facility` DISABLE KEYS */;
INSERT INTO `facility` VALUES (1,'Basketball Court','Building A - Floor 1',10),(2,'Fitness Room','Building B - Floor 2',20),(3,'Dance Studio','Building C - Floor 3',15),(4,'Badminton Court','Building A - Floor 2',8),(5,'Swimming Pool','Sports Complex - Basement',30);
/*!40000 ALTER TABLE `facility` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facilitybooking`
--

DROP TABLE IF EXISTS `facilitybooking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facilitybooking` (
  `BookingID` int NOT NULL AUTO_INCREMENT,
  `StudentID` int DEFAULT NULL,
  `FacilityID` int DEFAULT NULL,
  `Date` date DEFAULT NULL,
  `StartTime` time DEFAULT NULL,
  `EndTime` time DEFAULT NULL,
  PRIMARY KEY (`BookingID`),
  KEY `FacilityID` (`FacilityID`),
  KEY `facilitybooking_ibfk_1` (`StudentID`),
  CONSTRAINT `facilitybooking_ibfk_1` FOREIGN KEY (`StudentID`) REFERENCES `student` (`StudentID`),
  CONSTRAINT `facilitybooking_ibfk_2` FOREIGN KEY (`FacilityID`) REFERENCES `facility` (`FacilityID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facilitybooking`
--

LOCK TABLES `facilitybooking` WRITE;
/*!40000 ALTER TABLE `facilitybooking` DISABLE KEYS */;
INSERT INTO `facilitybooking` VALUES (2,14756266,2,'2025-07-31','14:00:00','16:00:00'),(3,14756266,1,'2025-07-25','15:00:00','20:00:00'),(4,14756266,1,'2025-07-19','10:00:00','11:00:00'),(5,14756266,3,'2025-07-25','14:00:00','20:00:00'),(6,14756266,2,'2025-07-25','15:00:00','20:00:00'),(7,14756266,2,'2025-07-30','19:00:00','21:00:00');
/*!40000 ALTER TABLE `facilitybooking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `membership`
--

DROP TABLE IF EXISTS `membership`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `membership` (
  `Membership_MembershipID` int NOT NULL AUTO_INCREMENT,
  `Payment_PaymentID` int DEFAULT NULL,
  `Student_StudentID` int DEFAULT NULL,
  `StartDate` date DEFAULT NULL,
  `EndDate` date DEFAULT NULL,
  PRIMARY KEY (`Membership_MembershipID`),
  KEY `Payment_PaymentID` (`Payment_PaymentID`),
  KEY `membership_ibfk_2` (`Student_StudentID`),
  CONSTRAINT `membership_ibfk_1` FOREIGN KEY (`Payment_PaymentID`) REFERENCES `payment` (`PaymentID`),
  CONSTRAINT `membership_ibfk_2` FOREIGN KEY (`Student_StudentID`) REFERENCES `student` (`StudentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `membership`
--

LOCK TABLES `membership` WRITE;
/*!40000 ALTER TABLE `membership` DISABLE KEYS */;
/*!40000 ALTER TABLE `membership` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `PaymentID` int NOT NULL AUTO_INCREMENT,
  `StudentID` int DEFAULT NULL,
  `Amount` decimal(10,2) DEFAULT NULL,
  `PaymentMethod` enum('CreditCard','Cash','Online') DEFAULT NULL,
  `Date` date DEFAULT NULL,
  `Purpose` enum('Membership','Accessory','CoachSession') DEFAULT NULL,
  PRIMARY KEY (`PaymentID`),
  KEY `payment_ibfk_1` (`StudentID`),
  CONSTRAINT `payment_ibfk_1` FOREIGN KEY (`StudentID`) REFERENCES `student` (`StudentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `StudentID` int NOT NULL AUTO_INCREMENT,
  `FirstName` varchar(50) DEFAULT NULL,
  `LastName` varchar(50) DEFAULT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `PasswordHash` varchar(255) DEFAULT NULL,
  `phone` int DEFAULT NULL,
  `FirebaseUID` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`StudentID`),
  UNIQUE KEY `Email` (`Email`),
  UNIQUE KEY `phone` (`phone`),
  UNIQUE KEY `FirebaseUID` (`FirebaseUID`)
) ENGINE=InnoDB AUTO_INCREMENT=14777712 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
INSERT INTO `student` VALUES (14756266,'wei','Shipeng','1215298893@qq.com','$2b$12$9C3A/6FIK76KYop/wu5jcer0/P7rMEU74k1iHJZZIn5XNgg89Y8SC',12345678,'CuL6WGXwHoWZCIkgOdVD5P5KF4F2'),(14777711,'hoang hai binh','vu','nnafanbinh@gmail.com',NULL,123456789,'N1Zfu7syDZfUbDaBpz4zt8vhDQK2');
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentaccessory`
--

DROP TABLE IF EXISTS `studentaccessory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studentaccessory` (
  `StudentID` int NOT NULL,
  `AccessoryID` int NOT NULL,
  `PaymentID` int NOT NULL,
  `Quantity` int DEFAULT NULL,
  PRIMARY KEY (`StudentID`,`AccessoryID`,`PaymentID`),
  KEY `AccessoryID` (`AccessoryID`),
  KEY `PaymentID` (`PaymentID`),
  CONSTRAINT `studentaccessory_ibfk_1` FOREIGN KEY (`StudentID`) REFERENCES `student` (`StudentID`),
  CONSTRAINT `studentaccessory_ibfk_2` FOREIGN KEY (`AccessoryID`) REFERENCES `accessory` (`AccessoryID`),
  CONSTRAINT `studentaccessory_ibfk_3` FOREIGN KEY (`PaymentID`) REFERENCES `payment` (`PaymentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentaccessory`
--

LOCK TABLES `studentaccessory` WRITE;
/*!40000 ALTER TABLE `studentaccessory` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentaccessory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentcoachsession`
--

DROP TABLE IF EXISTS `studentcoachsession`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studentcoachsession` (
  `SessionID` int NOT NULL AUTO_INCREMENT,
  `StudentID` int DEFAULT NULL,
  `CoachID` int DEFAULT NULL,
  `Date` date DEFAULT NULL,
  `PaymentID` int DEFAULT NULL,
  PRIMARY KEY (`SessionID`),
  KEY `StudentID` (`StudentID`),
  KEY `PaymentID` (`PaymentID`),
  KEY `studentcoachsession_ibfk_2` (`CoachID`),
  CONSTRAINT `studentcoachsession_ibfk_1` FOREIGN KEY (`StudentID`) REFERENCES `student` (`StudentID`),
  CONSTRAINT `studentcoachsession_ibfk_2` FOREIGN KEY (`CoachID`) REFERENCES `coach` (`CoachID`),
  CONSTRAINT `studentcoachsession_ibfk_3` FOREIGN KEY (`PaymentID`) REFERENCES `payment` (`PaymentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentcoachsession`
--

LOCK TABLES `studentcoachsession` WRITE;
/*!40000 ALTER TABLE `studentcoachsession` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentcoachsession` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentworkout`
--

DROP TABLE IF EXISTS `studentworkout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studentworkout` (
  `StudentID` int NOT NULL,
  `WorkoutID` int NOT NULL,
  `Frequency` int DEFAULT NULL,
  PRIMARY KEY (`StudentID`,`WorkoutID`),
  KEY `WorkoutID` (`WorkoutID`),
  CONSTRAINT `studentworkout_ibfk_1` FOREIGN KEY (`StudentID`) REFERENCES `student` (`StudentID`),
  CONSTRAINT `studentworkout_ibfk_2` FOREIGN KEY (`WorkoutID`) REFERENCES `workout` (`WorkoutID`),
  CONSTRAINT `studentworkout_chk_1` CHECK ((`Frequency` <= 50))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentworkout`
--

LOCK TABLES `studentworkout` WRITE;
/*!40000 ALTER TABLE `studentworkout` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentworkout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workout`
--

DROP TABLE IF EXISTS `workout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workout` (
  `WorkoutID` int NOT NULL AUTO_INCREMENT,
  `Title` varchar(100) DEFAULT NULL,
  `Description` text,
  `Level` enum('Beginner','Intermediate','Advanced') DEFAULT NULL,
  PRIMARY KEY (`WorkoutID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workout`
--

LOCK TABLES `workout` WRITE;
/*!40000 ALTER TABLE `workout` DISABLE KEYS */;
/*!40000 ALTER TABLE `workout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'gym_management'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-16 15:41:16
